.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px;
    border-bottom: 1px solid #ebebeb;
}

.brand__search {
    display: flex;
    align-items: center;
}


.header__heading {
    padding: 0 30px;
    font-size: 2rem;
    cursor: pointer;
}

.search {
    height: 44px;
    width: 360px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.search:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 4px 12px rgb(26 26 29 / 8%);
}

.search i {
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 0 10px;
}

.search__input {
    height: 44px;
    font-size: 1.8rem;
    outline: none;
    border: none;
    color: var(--text-color);
    line-height: 2rem;
}

.user__list {
    display: flex;
    align-items: baseline;
    justify-self: center;
}

.user__item i {
    margin-right: 4px;
    font-size: 1.6rem;
}

.user__link {
    display: block;
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 10px 0;
    margin: 0 8px;
    position: relative;
}

.user__link::after {
    content: "";
    display: none;
    position: absolute;
    top: 150%;
    width: 100%;
    height: 2px;
    background-color: #ccc;
}
.user__link:hover::after {
    display: block;
}
.menu {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--text-color);
}
/* Content */

.content__head {
    display: flex;
    align-items: center;
    padding: 40px 0 60px;
}

.content__heading {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 3.6rem;
    margin-right: 8px;
    color: var(--text-color);
}

.support__heading {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--text-color);
}

.support__text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-color);
    margin: 8px 0 36px;
}

.support__user {
    padding: 13px 23px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid var(--text-color);
}

.support__user:last-child {
    color: var(--white-color);
    background-color: var(--text-color);
    margin-left: 8px;
}

.support__user:last-child:hover {
    background-color: #000;
}
/* content post */
.content__post {
    padding: 60px 0 ;
    border-bottom: 1px solid var(--text-color);
}

.post__head {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-color);
}

.post__icon {
    display: flex;
    margin-top: 30px;
}


.post__heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
    min-height: 5.4rem;
    font-weight: 800;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.post__text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 16px 0;
    overflow: hidden;
    
}

.post__link {
    font-size: 1.6rem;
    font-weight: 400;
}

.post__link:hover {
    text-decoration: underline;
}
/* Select post */
.content__select {
    padding: 50px 0 50px;
}

.select__heading {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.select__item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.select__img {
    width: 100%;
    height: 175px;
    display: block;
    padding: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-color: transparent;
}

.select__img, .select__head {
    border: 1px solid #dddddd;
}

.select__item:hover .select__img, .select__item:hover .select__head {
    border: 1px solid var(--text-color);
}

.select__head {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    min-height: 8.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 24px;
    color: var(--text-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* Content Form */
.content__form {
    padding: 60px 0;
    border-top: 1px solid var(--text-color);
}

.form__head {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 24px;
}

.form__list {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.form__heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    min-height: 5rem;
    margin: 20px 0 10px;
}

.form__link {
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.form__link:hover {
    text-decoration: underline;
    opacity: 0.9;
}
/* footer */
.footer {
    background-color: #f7f7f7;
    padding-top: 40px;
}

.footer__heading {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 16px;
}
.footer__list {
    padding-bottom: 20px;
}
.footer__item {
    padding: 10px 0;
}

.footer__link {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-color);
}
.footer__link:hover {
    text-decoration: underline;
}

.source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid var(--text-color);
}
.source__r {
    text-align: right;
}
.brand {
    font-size: 1.4rem;
    color: var(--text-color);
}

.source__link {
    margin: 0 10px;
    font-size: 1.4rem;
    color: var(--text-color);
}